.index {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index-searchBox {
    display: flex;
    
}

.background {
    background-color: #252423;
}

